{% extends 'base.html' %}

{% block content %}

<div class="text-center mb-4">
    <h2>Post a Job</h2>
</div>

<div class="card p-4 shadow mx-auto" style="max-width:600px;">
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Job Title">
        </div>

        <div class="mb-3">
            <input type="number" class="form-control" placeholder="Pay Per Hour">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Experience Required">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Tech Stack">
        </div>

        <div class="mb-3">
            <textarea class="form-control" placeholder="Job Description"></textarea>
        </div>

        <div class="text-center">
            <button class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>

{% endblock %}